<header>
    <div class="name">
        <h2>Guilherme Lobato</h2>
    </div>

    <nav class="divisoes-pagina">
        <a class="botoes-nav-page" href="#">Início</a>
        <a class="botoes-nav-page" href="#">Experiências</a>
        <a class="botoes-nav-page" href="#">Habilidades</a>
        <a class="botoes-nav-page" href="#">Sobre</a>    
    </nav>

    <div class="contato-redes">       
        <a class="sociais" href="#">Whatsapp</a>        
        <a class="sociais" href="#">Linkedin</a>      
        <a class="sociais" href="#">Email</a>
        <a class="sociais" href="#">GitHub</a>      
   </div>
</header>



