<header>
    <div class="name">
        <h2>Guilherme Lobato</h2>
    </div>

    <nav class="divisoes-pagina">
        <a class="botoes-nav-page" href="#">Início</a>
        <a class="botoes-nav-page" href="#">Experiências</a>
        <a class="botoes-nav-page" href="#">Habilidades</a>
        <a class="botoes-nav-page" href="#">Sobre</a>    
    </nav>

    <div class="contato-redes">       
        <a class="sociais" href="#">Whatsapp</a> 
        <div>  
            <mat-icon style="color: aqua;">whatsapp</mat-icon>     
        <a class="sociais" href="https://www.linkedin.com/in/guilherme-lobato-14b846174/">Linkedin</a>  
        </div>    
        <a class="sociais" href="#">Email</a>
        <a class="sociais" href="https://github.com/Guilherme-Lobato">GitHub</a>      
   </div>
</header>



