body{
    background-color: rgb(44, 43, 43);
    height: 600px;
}

.title-container { 
    height: 80px;
    width: 100%;
    background-color: rgb(44, 43, 43);
    border: none;
    box-shadow: 0 0 10px rgb(92, 131, 202);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.title-container h1 {
    font-family: sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 80px; 
}


.conhecimentos {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.caixa1,
.caixa2,
.caixa3 {
    flex-basis: calc(20% - 20px);
    max-width: calc(20% - 10px);
    margin: 0 10px;
    background-color: rgb(43, 44, 44);
    border-radius: 40px;
    color: white;
    text-align: start;
    padding: 50px 30px;
    transition: box-shadow 0.3s ease-in-out;
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
}

.caixa1 h1,
.caixa2 h1,
.caixa3 h1 {
    font-size: 40px;
    font-family: sans-serif;
}

.caixa1 p,
.caixa2 p,
.caixa3 p {
    margin-top: 40px;
    font-size: 20px;
    font-family: sans-serif;
}

.caixa1:hover,
.caixa2:hover,
.caixa3:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}


.icone-mobile {
    height: 100px;
    width: 100px;
    font-size: 4vw;
    position: absolute;
    top: 12%; 
    left: 70%; 
}

.icone-front {
    height: 100px;
    width: 100px;
    font-size: 5vw;
    position: absolute;
    top: 7%; 
    left: 74%; 
}

.icone-back {
    height: 100px;
    width: 100px;
    font-size: 4vw;
    position: absolute;
    top: 7%; 
    left: 74%; 
}



