<body>

    <div class="title-container">
        <h1>EXPERIÊNCIA</h1>
    </div>

    <div class="conhecimentos">
        <div class="caixa1">
            <h1>MOBILE</h1>
            <p>asdadadasd</p>
        </div>        

        <div class="caixa2">
            <h1>FRONT-END</h1>
            <p>asdadadasd</p>
        </div> 

        <div class="caixa2">
            <h1>BACK-END</h1>
            <p>asdadadasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div> 
    </div>

</body>
