<body>

    <div class="title-container">
        <h1>EXPERIÊNCIA</h1>
    </div>

    <div class="conhecimentos">
        
        <div class="caixa1">
            <mat-icon class="icone-mobile">developer_mode</mat-icon>
            <h1>MOBILE</h1>
            <p>asdadadasd</p>
        </div>        

        <div class="caixa2">
            <mat-icon class="icone-front">code</mat-icon>
            <h1>FRONT-END</h1>
            <p>asdadadasd</p>
        </div> 

        <div class="caixa2">
            <mat-icon class="icone-back">build</mat-icon>
            <h1>BACK-END</h1>
            <p>asdadadasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div> 
    </div>
</body>
