<body>

    <div class="title-container">
        <h1>SOFT SKILLS!</h1>
    </div>

    <div class="conhecimentos">
        <div class="caixa caixa1">
            <h1>TYPESCRIPT</h1>
            <p>asdadadasd</p>
        </div>        
    
        <div class="caixa caixa2">
            <h1>CSS</h1>
            <p>asdadadasd</p>
        </div> 
    
        <div class="caixa caixa3">
            <h1>HTML</h1>
            <p>asdadadasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div> 
    
        <div class="caixa caixa4">
            <h1>KOTLIN</h1>
            <p>asdadadasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div> 
    
        <div class="caixa caixa5">
            <h1>C#</h1>
            <p>asdadadasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div> 
    
        <div class="caixa caixa6">
            <h1>ANGULAR</h1>
            <p>asdadadasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div> 
    
        <div class="caixa caixa7">
            <h1>C#</h1>
            <p>asdadadasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div> 
        <div class="caixa caixa8">
            <h1>C#</h1>
            <p>asdadadasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div> 
    </div>
</body>


